<h1>Dnevni cilji</h1>
<% if @goals.empty? %>
	<p>Nimaš nobenih neizpolnjenih ciljev. Ti si car!</p>
<% else %>
	<ul>
	<% @goals.each do |goal| %>
		<li><%= link_to goal.goals_name, edit_goal_path(goal) %>
	<%= link_to 'izbriši cilj', goal_path(goal), method: :delete, data: { confirm: "Ali si prepričan, da želiš izbrisati cilj" } %>
	</li>
	<% end %>
	</ul>
<% end %>
<%= link_to 'Nov cilj', new_goal_path %>
